@media (max-width: 1200px)
    .header__contacts
        display: none
    .promo__title
        font-size: 62px
    .ourWork__text
        text-align: justify
    .feed__form input
        width: 220px;
        height: 45px;
    .price__consult_img
        top: -38%
    .price__consult_button
        bottom: -9%


@media( max-width: 991px)
    .promo
        .promo__title
            font-size: 47px
        .promo__text
            font-size: 18px
        .promo__subtitle
            font-size: 27px
        .promo__item_title
            font-size: 14px
        .header
            &__contacts
                margin: 0
                margin-bottom: 7px
            &__phone
                font-size: 17px

            &__navigation
                a
                    font-size: 12px
            .wrap-contacts
                display: block
                margin-left: 10px
    .advantages
        &__img
            
        &__subtitle
            font-size: 14px
            line-height: 16px
        &__text
            margin-top: 5px
            font-size: 13px
            line-height: 18px
        .title
            font-size: 19px
            line-height: 18px
    .ourWork
        .title
            font-size: 19px
            line-height: 18px
        .divider
            margin: 10px auto 8px
        .ourWork__subtitle
            font-size: 15px
            line-height: 20px
        &__img
            width: 100%
        .ourWork__descr-title
            font-size: 15px
        .ourWork__text
            font-size: 15px
            line-height: 18px
            span
                display: inline
    .agent, .managers
        .subscr_block
            .subscr__img 
                padding: 16px
            .subscr__title
                font-size: 18px
                line-height: 14px
                margin: 10px 0
            .subscr__descr 
                font-size: 14px
                line-height: 20px
    .price
        .title
            font-size: 19px
            line-height: 18px
        .divider
            margin: 10px auto 8px
        .price__subtitle
            font-size: 14px
            line-height: 20px
        .price__item
            padding: 0 20px 0 20px
            margin-bottom: 20px
        .price__item_title
            height: 40px
            font-size: 14px
        .price__item_delivery
            font-size: 13px
            p
                font-size: 15px
                line-height: 16px
            span
                font-size: 22px
                margin: 0 3px
                line-height: 24px
        .price__consult_title
            font-size: 20px
            line-height: 22px
        .price__consult_img
            top: -29%
        .price__consult_button
            bottom: -7%
            img
                padding: 10px     
        .price__consult_input
            flex-direction: column
            input
                padding: 10px 18pxs
        .price__button
            width: 120px
        .button_back
            width: 120px
            height: 45px
        .wrap_inputs
            margin: 0 auto
    .scheme
        .title
            font-size: 19px
        .scheme__item
            margin-top: 26px
        .scheme__item_title
            font-size: 14px
        .scheme__item_descr
            margin-top: 5px
            font-size: 12px
    .review
        .title
            font-size: 19px
            line-height: 18px
        .divider
            margin: 10px auto 8px
        .review__subtitle
            font-size: 14px
            line-height: 20px
        .review__name
            margin: 20px 0 10px 0
            font-size: 16px
        .review__inner
            font-size: 12px
    .feed
        .feed__form 
            input
              
                padding: 10px 14px
        .feed__form 
            textarea
                padding: 8px 10px
    .footer
        .footer__question
            display: none
            .question-ask
                margin: 0
            .button
                margin: 10px auto 0
        .footer__divider
            margin: 16px auto
        .footer__site
            display: flex
        

@media( max-width: 767px)
    .header__btn
        display: none
    .promo
        .header
            nav
                display: none
            .menu
                position: fixed
                flex-direction: column
                justify-content: center
                align-items: center
                top: 0
                left: -100%
                width: 50%
                height: 100vh
                padding: 20px 15px
                background-color: rgba(0, 0, 0, .8)
                transition: 0.6s all
            .menu_active
                left: 0
            .menu_item
                padding-right: 0
                border: none
                margin-top: 10px
                .menu_link
                    font-size: 20px
        .hamburger
            display: block
    .promo .promo__title
        font-size: 40px
        text-align: center
    .promo__divider
        margin-top: 10px
    .promo__items
        flex-wrap: wrap
    .promo__item
        width: 45%
        margin-bottom: 10px
    .promo .promo__item_title
        margin-top: 10px
    .ourWork__item
        border-bottom: 1px solid  #ec644b
        padding-bottom: 15px
        &:last-child
            border-bottom: none
    .ourWork .ourWork__descr-title
        font-size: 17px
    .ourWork .ourWork__text
        text-align: center
    .price .price__item
        height: 100%
        margin-bottom: 15px
        padding-bottom: 0
    .price__button
        width: 200px
    .price__item-content-active
        height: 100%
    .price__item-wrap
        height: 100%
    .price .wrap_inputs
    
    .review .slick-prev
        position: absolute
        top: 10%
        left: 25%
        border: none
        background-color: #ffffff
        img
            width: 18px
            height: 60px
    .review .slick-next
        right: 25%
        border: none
    .review__descr
        width: 100%
    .feed__form
        justify-content: center
        input 
            width: 90%
            margin-bottom: 15px
        textarea
            width: 90%
    .footer
        text-align: center
    .footer__button
      
        margin-top: 20px
    .footer__descr
        text-align: center
        margin-top: 15px
    .footer__polytic
        margin: 15px auto
    .footer__site
        justify-content: center